/*TODO: Investigate preferred naming conventions */
.SearchResult {
  border: 1px solid lightgray;
  border-radius: 5px;
}

.SearchResult-image {
  width: 50px;
}

@media (max-width: 599px) {
  .SearchResult-nameCol {
    flex-grow: 1;
  }
}

@media (min-width: 600px) {
  .SearchResult-nameCol {
    min-width: 30%;
    max-width: 30%;
  }
}

.SearchResult-fixedCol {
  min-width: 25%;
  max-width: 25%;
}

.SearchResult .SearchResult-starIcon {
  visibility: hidden;
}

.SearchResult:hover .SearchResult-starIcon,
.SearchResult.isStarred .SearchResult-starIcon {
  visibility: visible;
}

.SearchResult-modalBody {
  width: 70vw;
  max-width: 350px;
}
