/*TODO: Investigate preferred naming conventions */
.SearchResult {
  border: 1px solid lightgray;
  border-radius: 5px;
}

.SearchResult-fixedCol {
  min-width: 25%;
  max-width: 25%;
}

.SearchResult-smallText {
  font-size: 0.9em;
}

.SearchResult.isStarred {
  position: relative;
}

.SearchResult.isStarred:before {
  position: absolute;
  left: 5px;
  top: 3px;
  content: '⭐️';
}
