body {
  margin: 0;
  font-family: Roboto;
}

.u-cursorPointer {
  cursor: pointer;
}

.u-fullHeight {
  height: 100vh;
  max-height: 100vh;
}

.u-scrollable {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

@media (max-width: 599px) {
  .u-hiddenXs {
    display: none !important;
  }
}

@media (max-width: 899px) {
  .u-hiddenSm {
    display: none !important;
  }
}

.ModalBody {
  max-height: 70vh;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  border: 1px solid #333;
  border-radius: 5px;
  box-shadow: 10px;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

.ModalBody--small {
  width: 350px;
  max-width: 70vw;
}

/*Future Work: comprehensive color & border utility classes*/

.u-bgBlue {
  background-color: aliceblue;
}

.u-bgLavender {
  background-color: lavender;
}

.u-bgHoverLavender:hover {
  background-color: lavender;
}

.u-border {
  border: 1px solid lightgray;
}

.u-borderBottom {
  border-bottom: 1px solid lightgray;
}

.u-borderRadius5 {
  border-radius: 5px;
}
