body {
  margin: 0;
  font-family: Roboto;
}

.u-cursorPointer {
  cursor: pointer;
}

.u-fullHeight {
  height: 100vh;
  max-height: 100vh;
}

.u-scrollable {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

/*Future Work: comprehensive color & border utility classes*/

.u-bgBlue {
  background-color: aliceblue;
}

.u-bgHoverLavender:hover {
  background-color: lavender;
}

.u-borderBottom {
  border-bottom: 1px solid lightgray;
}
